/* Cascade, specificity, and inheritance */
/* Conflicting rules */
h2 {
	color: red;
}

h2 {
	color: gray;
}

.title {
	color: #67A2FD;
}

h1 {
	color: green;
}

p {
	color: #505050;
}

/* Understanding inheritance */
.list {
	margin: 20px;
	border: 1px dotted gray;
	color: #303030;
}

.alert {
	color: #992020;
}

.links {
	color: #10FF74;
}

.links li:first-child a {
	color: inherit;
}

.links li:first-child + li a {
	color: initial;
}

.links li:last-child a {
	color: unset;
}

blockquote {
	background: #9040DD;
	border: 2px solid black;
	color: white;
}

.unset-all {
	all: unset;
}

/* Understanding the cascade */
h3 {
	color: gray;
	text-align: center;
}

.bright {
	color: purple;
}

.fruit {
	color: orange;
}

.fruit li:first-child {
	color: initial;
}

.fruit li:last-child {
	color: red !important;
}
