/* Overflowing content */
/* CSS tries to avoid "data loss" */
p.restricted_size {
	height: 100px;
	width: 500px;
	border: 1px dashed #903463;
}

.word {
	width: 50px;
	border: 1px dashed #935623;
}

/* The overflow property */
.overflow_hidden {
	overflow: hidden;
}

.overflow_scroll {
	overflow: scroll;
}

.overflow_auto {
	overflow: auto;
}