/* Sizing items in CSS */
/* The natural or intrinsic size of things */
.box {
	margin: 10px;
	border: 2px solid lightgray;
}

.square {
	height: 200px;
	width: 200px;
	padding: 10px;
}

.half-width {
	width: 50%;
}

.mpp {
	width: 50px;
	margin: 10%;
	padding: 10%;
}

/* min- and max- sizes */
.m-height {
	min-height: 20px;
}

.max {
	max-width: 100%;
}

/* Viewport units */
.viewport {
	height: 20vh;
	width: 20vw;
	font-size: 10vh;
}