/* Attribute selectors */
/* Presence and value selectors */
li[class] {
	border: 1px solid lightgray;
}

li[class="abc"] {
	color: blue;
}

li[class~="e"] {
	padding: 10px;
}

li[class|="op"] {
	color: red;
}

/* Substring matching selectors */
li[class^="box-"] {
	color: purple;
}

li[class$="-value"] {
	margin: 3px;
	padding: 15px;
}

li[class*="item3"] {
	color: green;
}

/* Case-sensitivity */
li[class$="b"] {
	background: green;
	color: white;
}

li[class$="b" i] {
	padding: 3px;
}