/* Images, media, and form elements */
.box {
	margin: 15px;
	padding: 10px;
	border: 2px solid #CD87CF;
}

.square {
	height: 300px;
	width: 500px;
}

/* Sizing images */
.img {
	max-width: 100%;
}

.wh {
	height: 100%;
	width: 100%;
}

.img-cover {
	object-fit: cover;
}

.img-contain {
	object-fit: contain;
}

/* Replaced elements in layout */
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 200px;
  gap: 20px;
}

.wrapper > div {
  background-color: rebeccapurple;
  border-radius: .5em;
}

/* Form elements */
.form {
	width: 400px;
}

.form * {
	box-sizing: border-box;
}

.form > div {
	margin: 5px;
}

.form label,
.form input {
	display: inline-block;
}

.form label {
	width: 30%;
}

.form input[type="text"],
.form input[type="password"] {
	width: 70%;
}

.form > div:last-child {
	text-align: right;
}