/* Pseudo-classes and pseudo-elements */
/* What is a pseudo-class? */
.funny-story p:first-child {
	color: #459851;
}

.funny-story p:last-child {
	border-bottom: 1px dotted gray;
}

.funny-story p em:only-child {
	background: #239876;
	color: white;
}

.point:hover {
	background: black;
	color: white;
}

.point:focus {
	border: 2px solid gray;
}

/* What is a pseudo-element? */
.wiape p::first-line {
	color: #F84352;
}

/* Combining pseudo-classes and pseudo-elements */
.list li:first-child::first-letter {
	text-transform: uppercase;
	color: red;
}