/* Type, class, and ID selectors */
/* Type selectors */
p {
	color: #311111;
}

span {
	color: green;
}

em {
	color: red;
}

strong {
	color: blue;
}

/* The universal selector */
* {
	margin: 10px;
	padding: 5px;
}

.universal *:first-child {
	border: 1px dotted gray;
}

/* Class selectors */
.uppercase {
	text-transform: uppercase;
}

span.uppercase {
	text-decoration: underline;
}

.note {
	border: 1px dashed gray;
}

.note.highlight {
	background: yellow;
}

.note.strip {
	border: none;
	border-radius: 10px;
	background: green;
	color: white;
}

/* ID selectors */
h2 {
	color: brown;
}

#uniq1 {
	color: green;
}

h2[id] {
	text-align: center;
}