/* Type, class, and ID selectors */
/* Type selectors */
p {
	color: #311111;
}

span {
	color: green;
}

em {
	color: red;
}

strong {
	color: blue;
}

/* The universal selector */
* {
	margin: 10px;
	padding: 5px;
}

.universal *:first-child {
	border: 1px dotted gray;
}