/* The box model */
/* Examples of different display types */
.ddt p {
	padding: 0.5em;
	border: 1px solid #430910;
}

.ddt ul {
	display: flex;
	padding: 15px;
	list-style: none;
	border: 1px solid #986325;
}

.ddt ul li {
	padding: 5px;
	border: 1px solid #CA9852;
}

.block {
	display: block;
}

.ddt p span {
	padding: 10px;
	border: 1px solid #875232;
}

.ddt ul.inline {
	display: inline-flex;
	padding: 0;
	border: 1px solid #00FA34;
}

.ddt p.inline {
	display: inline;
	padding: 0;
}

/* Playing with box models */
.box {
	width: 500px;
	height: 200px;
	margin: 30px;
	padding: 50px;
	border: 10px solid #2312FF;
	background: #12FF45;
}

.alternative {
	box-sizing: border-box;
}

.fit {
	height: 320px;
	width: 620px;
}

/* Margins, padding, and borders */
.outer {
	height: 200px;
	width: 350px;
	border: 5px solid #CDEEBB;
}

.inner {
	height: 100px;
	width: 200px;
	margin-top: -20px;
	margin-left: 30px;
	margin-right: 35px;
	margin-bottom: 20px;
	border: 5px solid #789021;
}

.collapsing {
	margin: 30px;
}

.collapsing > div {
	height: 100px;
	width: 100px;
	border: 1px solid #890316;
}

.collapsing div:first-child {
	margin-bottom: -55px;
}

.collapsing div:last-child {
	margin-bottom: -5px;
}

/* The box model and inline boxes */
.bmib p span {
	height: 100px;
	width: 100px;
	padding: 10px;
	margin: 50px;
	border: 10px solid #205997;
	background: #203050;
}

/* Using display: inline-block */
.udib p span {
	display: inline-block;
	height: 100px;
	width: 100px;
	padding: 10px;
	margin: 50px;
	border: 10px solid #205997;
	background: #203050;
}

.udib nav ul {
	display: flex;
	border: 1px solid #798922;
	list-style: none;
}

.udib nav ul a {
	display: inline-block;
	width: 100px;
	margin: 5px;
	padding: 20px;
	background: #987310;
	color: #909090;
}

.udib nav ul a:hover {
	background: #909090;
	color: #987310;
}