/* Handling different text directions */
/* What are writing modes? */
.vertical_rl {
	box-sizing: border-box;
	height: 300px;
	width: 50%;
	margin: 0;
	border: 3px solid #AA00DC;
	writing-mode: vertical-rl;
}

/* Writing modes and block and inline layout */
section {
	margin: 20px;
	padding: 20px;
	border: 2px dashed lightgray;
}

.wm-horizontal {
	width: 300px;
	padding: 5px;
	border: 1px solid gray;
	writing-mode: horizontal-tb;
}

.wm-vertical {
	width: 500px;
	padding: 5px;
	border: 1px solid gray;
	writing-mode: vertical-rl;
}

/* Logical properties and values */
.box {
	inline-size: 200px;
	margin: 0;
}