/* Advanced styling effects */
/* Box shadows */
/* A simple box shadow */
.message {
	max-width: 500px;
	padding: 10px;
	background: #986315;
	color: #FDFCFB;
}

.shadow-1 {
	box-shadow: 5px 5px 5px rgb(0 0 0 / 70%);
}

/* Multiple box shadows */
.paragraph {
	margin: 30px;
	padding: 15px;
	background: #DFBCEE;
	color: #FEFDFB;
}

.shadow-2 {
	box-shadow: 10px 10px 5px rgb(255 0 0 / 50%),
							15px 15px 5px rgb(0 255 0 / 50%),
							20px 20px 5px rgb(0 0 255 / 50%);
}

/* Other box shadow features */
.box {
	margin: 20px;
	padding: 20px;
	border: 2px solid #DF679A;
}

.btn:hover {
	box-shadow: inset 0px 0px 15px rgb(0 0 150 / 50%),
										3px -3px 5px rgb(0 135 0/ 50%);
}

/* Filters */
.img:hover {
	filter: blur(1px) grayscale(50%);
}

.info {
	margin: 30px;
	padding: 20px;
	border: 3px dashed #687620;
	line-height: 2em;
	letter-spacing: 3px;
	filter: drop-shadow(3px 3px 1px rgb(0 0 0 / 50%));
}

/* Blend modes */
.cont {
	height: 200px;
	width: 300px;
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0va-Y5gI_CwfAIlHes8kpl0pa_H5A1eAwYlRLivX-LiFpwQHA4VC0adh1Ng1ZDvLETII&usqp=CAU);
	background-repeat: no-repeat;
	background-color: #BCEF67;
	background-blend-mode: multiply;
}

.container {
	position: relative;
}

.box1 {
	height: 200px;
	width: 300px;
	border: 2px solid gray;
}

.box1:first-child {
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0va-Y5gI_CwfAIlHes8kpl0pa_H5A1eAwYlRLivX-LiFpwQHA4VC0adh1Ng1ZDvLETII&usqp=CAU);
	background-repeat: no-repeat;
	background-color: #BCEF67;
}

.box1:last-child {
	position: absolute;
	top: 10px;
	left: 10px;
	background-image: url(https://img.freepik.com/premium-photo/pink-chameleon-with-green-background_542670-9681.jpg);
	background-repeat: no-repeat;
	background-color: #FB2671;
	mix-blend-mode: multiply;
}

/* CSS shapes */
.img1 {
	height: 200px;
	width: 200px;
	margin-right: 20px;
	border-radius: 50%;
	float: left;
	shape-outside: circle(50%);
}